<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app  xmlns="http://java.sun.com/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
          version="3.0">

  <display-name>DepartmentsApp</display-name>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

  <servlet>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.depart.project.controller.CommandDispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/tologin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>departmentController</servlet-name>
    <servlet-class>com.depart.project.controller.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>departmentController</servlet-name>
    <url-pattern>/department</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>departmentDeleteController</servlet-name>
    <servlet-class>com.depart.project.controller.DepartmentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>departmentDeleteController</servlet-name>
    <url-pattern>/departmentdelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>employeeController</servlet-name>
    <servlet-class>com.depart.project.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeController</servlet-name>
    <url-pattern>/employees/employee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>employeeDeleteController</servlet-name>
    <servlet-class>com.depart.project.controller.EmployeeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeDeleteController</servlet-name>
    <url-pattern>/employeedelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>employeeListController</servlet-name>
    <servlet-class>com.depart.project.controller.EmployeesListBuilderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeListController</servlet-name>
    <url-pattern>/employeeslist</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>departmentListController</servlet-name>
    <servlet-class>com.depart.project.controller.DepartmentListBuilderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>departmentListController</servlet-name>
    <url-pattern>/departmentlist</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>quitServlet</servlet-name>
    <servlet-class>com.depart.project.controller.QuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quitServlet</servlet-name>
    <url-pattern>/quit</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>birthDateFilter</filter-name>
    <filter-class>com.depart.project.controller.BirthDateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>birthDateFilter</filter-name>
    <url-pattern>/employees/*</url-pattern>
  </filter-mapping>


</web-app>
